:root {
  --react-pdf-text-layer: 1;
}

:root {
  --react-pdf-annotation-layer: 1;
  --annotation-unfocused-field-background: url(
    data:image/svg + xml;charset=UTF-8,
    <svgwidth='1px'height='1px'xmlns='http://www.w3.org/2000/svg'><rectwidth='100%'height='100%'style='fill:rgba(0, 54, 255, 0.13);'/></svg>
  );
  --input-focus-border-color: Highlight;
  --input-focus-outline: 1px solid Canvas;
  --input-unfocused-border-color: transparent;
  --input-disabled-border-color: transparent;
  --input-hover-border-color: black;
}

:root {
  --fe-root-side-menu-width: 56px;
  --fe-root-side-menu-item-size: var(--fe-root-side-menu-width);
  --fe-root-secondary-menu-width: 240px;
  --fe-root-more-menu-width: var(--fe-root-secondary-menu-width);
  --fe-root-search-width-default: 360px;
  --fe-root-search-width-small: 240px;
  --fe-root-z-index-secondary-menu: 30;
  --fe-root-z-index-more-menu: 40;
  --fe-root-z-index-page-header: 40;
  --fe-root-z-index-side-menu: 50;
  --fe-root-z-index-side-menu-overlay: 51;
  --fe-root-z-index-side-menu-divider: 52;
  --fe-root-z-index-side-menu-logo: 53;
  --fe-root-viewport-xs: 1024px;
}

:root {
  --pd-breakpoint-xl: 1920px;
  --pd-breakpoint-l: 1680px;
  --pd-breakpoint-m: 1440px;
  --pd-breakpoint-s: 1280px;
  --pd-font-monospace-text-case: none;
  --pd-font-monospace-paragraph-spacing: 28px;
  --pd-font-monospace-paragraph-indent: 0;
  --pd-font-monospace-line-height: 22px;
  --pd-font-monospace-letter-spacing: 0;
  --pd-font-monospace-font-style-old: regular;
  --pd-font-monospace-font-stretch: normal;
  --pd-font-monospace-font-style: normal;
  --pd-font-monospace-font-weight: 400;
  --pd-font-monospace-font-family: 'Menlo', consolas, courier, monospace;
  --pd-font-monospace-text-decoration: none;
  --pd-font-monospace-font-size: 14px;
  --pd-font-caption-s-text-case: uppercase;
  --pd-font-caption-s-paragraph-spacing: 22px;
  --pd-font-caption-s-paragraph-indent: 0;
  --pd-font-caption-s-line-height: 16px;
  --pd-font-caption-s-letter-spacing: 0;
  --pd-font-caption-s-font-style-old: semi bold;
  --pd-font-caption-s-font-stretch: normal;
  --pd-font-caption-s-font-style: normal;
  --pd-font-caption-s-font-weight: 600;
  --pd-font-caption-s-font-family: 'Inter', sans-serif;
  --pd-font-caption-s-text-decoration: none;
  --pd-font-caption-s-font-size: 11px;
  --pd-font-caption-text-case: uppercase;
  --pd-font-caption-paragraph-spacing: 26px;
  --pd-font-caption-paragraph-indent: 0;
  --pd-font-caption-line-height: 20px;
  --pd-font-caption-letter-spacing: 0;
  --pd-font-caption-font-style-old: semi bold;
  --pd-font-caption-font-stretch: normal;
  --pd-font-caption-font-style: normal;
  --pd-font-caption-font-weight: 600;
  --pd-font-caption-font-family: 'Inter', sans-serif;
  --pd-font-caption-text-decoration: none;
  --pd-font-caption-font-size: 13px;
  --pd-font-button-s-text-case: none;
  --pd-font-button-s-paragraph-spacing: 24px;
  --pd-font-button-s-paragraph-indent: 0;
  --pd-font-button-s-line-height: 16px;
  --pd-font-button-s-letter-spacing: 0;
  --pd-font-button-s-font-style-old: semi bold;
  --pd-font-button-s-font-stretch: normal;
  --pd-font-button-s-font-style: normal;
  --pd-font-button-s-font-weight: 600;
  --pd-font-button-s-font-family: 'Inter', sans-serif;
  --pd-font-button-s-text-decoration: none;
  --pd-font-button-s-font-size: 12px;
  --pd-font-button-text-case: none;
  --pd-font-button-paragraph-spacing: 28px;
  --pd-font-button-paragraph-indent: 0;
  --pd-font-button-line-height: 20px;
  --pd-font-button-letter-spacing: 0;
  --pd-font-button-font-style-old: semi bold;
  --pd-font-button-font-stretch: normal;
  --pd-font-button-font-style: normal;
  --pd-font-button-font-weight: 600;
  --pd-font-button-font-family: 'Inter', sans-serif;
  --pd-font-button-text-decoration: none;
  --pd-font-button-font-size: 14px;
  --pd-font-link-alt-s-text-case: none;
  --pd-font-link-alt-s-paragraph-spacing: 24px;
  --pd-font-link-alt-s-paragraph-indent: 0;
  --pd-font-link-alt-s-line-height: 18px;
  --pd-font-link-alt-s-letter-spacing: 0;
  --pd-font-link-alt-s-font-style-old: regular;
  --pd-font-link-alt-s-font-stretch: normal;
  --pd-font-link-alt-s-font-style: normal;
  --pd-font-link-alt-s-font-weight: 450;
  --pd-font-link-alt-s-font-family: 'Inter', sans-serif;
  --pd-font-link-alt-s-text-decoration: none;
  --pd-font-link-alt-s-font-size: 12px;
  --pd-font-link-alt-text-case: none;
  --pd-font-link-alt-paragraph-spacing: 28px;
  --pd-font-link-alt-paragraph-indent: 0;
  --pd-font-link-alt-line-height: 21px;
  --pd-font-link-alt-letter-spacing: 0;
  --pd-font-link-alt-font-style-old: regular;
  --pd-font-link-alt-font-stretch: normal;
  --pd-font-link-alt-font-style: normal;
  --pd-font-link-alt-font-weight: 450;
  --pd-font-link-alt-font-family: 'Inter', sans-serif;
  --pd-font-link-alt-text-decoration: none;
  --pd-font-link-alt-font-size: 14px;
  --pd-font-link-s-text-case: none;
  --pd-font-link-s-paragraph-spacing: 24px;
  --pd-font-link-s-paragraph-indent: 0;
  --pd-font-link-s-line-height: 18px;
  --pd-font-link-s-letter-spacing: 0;
  --pd-font-link-s-font-style-old: semi bold;
  --pd-font-link-s-font-stretch: normal;
  --pd-font-link-s-font-style: normal;
  --pd-font-link-s-font-weight: 600;
  --pd-font-link-s-font-family: 'Inter', sans-serif;
  --pd-font-link-s-text-decoration: none;
  --pd-font-link-s-font-size: 12px;
  --pd-font-link-text-case: none;
  --pd-font-link-paragraph-spacing: 28px;
  --pd-font-link-paragraph-indent: 0;
  --pd-font-link-line-height: 21px;
  --pd-font-link-letter-spacing: 0;
  --pd-font-link-font-style-old: semi bold;
  --pd-font-link-font-stretch: normal;
  --pd-font-link-font-style: normal;
  --pd-font-link-font-weight: 600;
  --pd-font-link-font-family: 'Inter', sans-serif;
  --pd-font-link-text-decoration: none;
  --pd-font-link-font-size: 14px;
  --pd-font-title-m-text-case: none;
  --pd-font-title-m-paragraph-spacing: 28px;
  --pd-font-title-m-paragraph-indent: 0;
  --pd-font-title-m-line-height: 21px;
  --pd-font-title-m-letter-spacing: 0;
  --pd-font-title-m-font-style-old: semi bold;
  --pd-font-title-m-font-stretch: normal;
  --pd-font-title-m-font-style: normal;
  --pd-font-title-m-font-weight: 600;
  --pd-font-title-m-font-family: 'Inter', sans-serif;
  --pd-font-title-m-text-decoration: none;
  --pd-font-title-m-font-size: 14px;
  --pd-font-title-l-text-case: none;
  --pd-font-title-l-paragraph-spacing: 32px;
  --pd-font-title-l-paragraph-indent: 0;
  --pd-font-title-l-line-height: 24px;
  --pd-font-title-l-letter-spacing: 0;
  --pd-font-title-l-font-style-old: semi bold;
  --pd-font-title-l-font-stretch: normal;
  --pd-font-title-l-font-style: normal;
  --pd-font-title-l-font-weight: 600;
  --pd-font-title-l-font-family: 'Inter', sans-serif;
  --pd-font-title-l-text-decoration: none;
  --pd-font-title-l-font-size: 16px;
  --pd-font-title-xl-text-case: none;
  --pd-font-title-xl-paragraph-spacing: 42px;
  --pd-font-title-xl-paragraph-indent: 0;
  --pd-font-title-xl-line-height: 32px;
  --pd-font-title-xl-letter-spacing: 0;
  --pd-font-title-xl-font-style-old: regular;
  --pd-font-title-xl-font-stretch: normal;
  --pd-font-title-xl-font-style: normal;
  --pd-font-title-xl-font-weight: 400;
  --pd-font-title-xl-font-family: 'Inter', sans-serif;
  --pd-font-title-xl-text-decoration: none;
  --pd-font-title-xl-font-size: 21px;
  --pd-font-title-xxl-text-case: none;
  --pd-font-title-xxl-paragraph-spacing: 50px;
  --pd-font-title-xxl-paragraph-indent: 0;
  --pd-font-title-xxl-line-height: 38px;
  --pd-font-title-xxl-letter-spacing: 0;
  --pd-font-title-xxl-font-style-old: regular;
  --pd-font-title-xxl-font-stretch: normal;
  --pd-font-title-xxl-font-style: normal;
  --pd-font-title-xxl-font-weight: 400;
  --pd-font-title-xxl-font-family: 'Inter', sans-serif;
  --pd-font-title-xxl-text-decoration: none;
  --pd-font-title-xxl-font-size: 25px;
  --pd-font-body-s-strong-text-case: none;
  --pd-font-body-s-strong-paragraph-spacing: 24px;
  --pd-font-body-s-strong-paragraph-indent: 0;
  --pd-font-body-s-strong-line-height: 18px;
  --pd-font-body-s-strong-letter-spacing: 0;
  --pd-font-body-s-strong-font-style-old: semi bold;
  --pd-font-body-s-strong-font-stretch: normal;
  --pd-font-body-s-strong-font-style: normal;
  --pd-font-body-s-strong-font-weight: 600;
  --pd-font-body-s-strong-font-family: 'Inter', sans-serif;
  --pd-font-body-s-strong-text-decoration: none;
  --pd-font-body-s-strong-font-size: 12px;
  --pd-font-body-s-text-case: none;
  --pd-font-body-s-paragraph-spacing: 24px;
  --pd-font-body-s-paragraph-indent: 0;
  --pd-font-body-s-line-height: 18px;
  --pd-font-body-s-letter-spacing: 0;
  --pd-font-body-s-font-style-old: regular;
  --pd-font-body-s-font-stretch: normal;
  --pd-font-body-s-font-style: normal;
  --pd-font-body-s-font-weight: 450;
  --pd-font-body-s-font-family: 'Inter', sans-serif;
  --pd-font-body-s-text-decoration: none;
  --pd-font-body-s-font-size: 12px;
  --pd-font-body-l-strong-text-case: none;
  --pd-font-body-l-strong-paragraph-spacing: 32px;
  --pd-font-body-l-strong-paragraph-indent: 0;
  --pd-font-body-l-strong-line-height: 24px;
  --pd-font-body-l-strong-letter-spacing: 0;
  --pd-font-body-l-strong-font-style-old: semi bold;
  --pd-font-body-l-strong-font-stretch: normal;
  --pd-font-body-l-strong-font-style: normal;
  --pd-font-body-l-strong-font-weight: 600;
  --pd-font-body-l-strong-font-family: 'Inter', sans-serif;
  --pd-font-body-l-strong-text-decoration: none;
  --pd-font-body-l-strong-font-size: 16px;
  --pd-font-body-l-text-case: none;
  --pd-font-body-l-paragraph-spacing: 32px;
  --pd-font-body-l-paragraph-indent: 0;
  --pd-font-body-l-line-height: 24px;
  --pd-font-body-l-letter-spacing: 0;
  --pd-font-body-l-font-style-old: regular;
  --pd-font-body-l-font-stretch: normal;
  --pd-font-body-l-font-style: normal;
  --pd-font-body-l-font-weight: 450;
  --pd-font-body-l-font-family: 'Inter', sans-serif;
  --pd-font-body-l-text-decoration: none;
  --pd-font-body-l-font-size: 16px;
  --pd-font-body-strong-text-case: none;
  --pd-font-body-strong-paragraph-spacing: 28px;
  --pd-font-body-strong-paragraph-indent: 0;
  --pd-font-body-strong-line-height: 21px;
  --pd-font-body-strong-letter-spacing: 0;
  --pd-font-body-strong-font-style-old: semi bold;
  --pd-font-body-strong-font-stretch: normal;
  --pd-font-body-strong-font-style: normal;
  --pd-font-body-strong-font-weight: 600;
  --pd-font-body-strong-font-family: 'Inter', sans-serif;
  --pd-font-body-strong-text-decoration: none;
  --pd-font-body-strong-font-size: 14px;
  --pd-font-body-text-case: none;
  --pd-font-body-paragraph-spacing: 28px;
  --pd-font-body-paragraph-indent: 0;
  --pd-font-body-line-height: 21px;
  --pd-font-body-letter-spacing: 0;
  --pd-font-body-font-style-old: regular;
  --pd-font-body-font-stretch: normal;
  --pd-font-body-font-style: normal;
  --pd-font-body-font-weight: 450;
  --pd-font-body-font-family: 'Inter', sans-serif;
  --pd-font-body-text-decoration: none;
  --pd-font-body-font-size: 14px;
  --pd-font-badge-text-case: uppercase;
  --pd-font-badge-paragraph-spacing: 20px;
  --pd-font-badge-paragraph-indent: 0;
  --pd-font-badge-line-height: 16px;
  --pd-font-badge-letter-spacing: 0.2px;
  --pd-font-badge-font-style-old: semi bold;
  --pd-font-badge-font-stretch: normal;
  --pd-font-badge-font-style: normal;
  --pd-font-badge-font-weight: 600;
  --pd-font-badge-font-family: 'Inter', sans-serif;
  --pd-font-badge-text-decoration: none;
  --pd-font-badge-font-size: 10px;
  --pd-font-monospace-font: var(--pd-font-monospace-font-weight)
    var(--pd-font-monospace-font-size) / var(--pd-font-monospace-line-height)
    var(--pd-font-monospace-font-family);
  --pd-font-caption-s-font: var(--pd-font-caption-s-font-weight)
    var(--pd-font-caption-s-font-size) / var(--pd-font-caption-s-line-height)
    var(--pd-font-caption-s-font-family);
  --pd-font-caption-font: var(--pd-font-caption-font-weight)
    var(--pd-font-caption-font-size) / var(--pd-font-caption-line-height)
    var(--pd-font-caption-font-family);
  --pd-font-button-s-font: var(--pd-font-button-s-font-weight)
    var(--pd-font-button-s-font-size) / var(--pd-font-button-s-line-height)
    var(--pd-font-button-s-font-family);
  --pd-font-button-font: var(--pd-font-button-font-weight)
    var(--pd-font-button-font-size) / var(--pd-font-button-line-height)
    var(--pd-font-button-font-family);
  --pd-font-link-alt-s-font: var(--pd-font-link-alt-s-font-weight)
    var(--pd-font-link-alt-s-font-size) / var(--pd-font-link-alt-s-line-height)
    var(--pd-font-link-alt-s-font-family);
  --pd-font-link-alt-font: var(--pd-font-link-alt-font-weight)
    var(--pd-font-link-alt-font-size) / var(--pd-font-link-alt-line-height)
    var(--pd-font-link-alt-font-family);
  --pd-font-link-s-font: var(--pd-font-link-s-font-weight)
    var(--pd-font-link-s-font-size) / var(--pd-font-link-s-line-height)
    var(--pd-font-link-s-font-family);
  --pd-font-link-font: var(--pd-font-link-font-weight)
    var(--pd-font-link-font-size) / var(--pd-font-link-line-height)
    var(--pd-font-link-font-family);
  --pd-font-title-m-font: var(--pd-font-title-m-font-weight)
    var(--pd-font-title-m-font-size) / var(--pd-font-title-m-line-height)
    var(--pd-font-title-m-font-family);
  --pd-font-title-l-font: var(--pd-font-title-l-font-weight)
    var(--pd-font-title-l-font-size) / var(--pd-font-title-l-line-height)
    var(--pd-font-title-l-font-family);
  --pd-font-title-xl-font: var(--pd-font-title-xl-font-weight)
    var(--pd-font-title-xl-font-size) / var(--pd-font-title-xl-line-height)
    var(--pd-font-title-xl-font-family);
  --pd-font-title-xxl-font: var(--pd-font-title-xxl-font-weight)
    var(--pd-font-title-xxl-font-size) / var(--pd-font-title-xxl-line-height)
    var(--pd-font-title-xxl-font-family);
  --pd-font-body-s-strong-font: var(--pd-font-body-s-strong-font-weight)
    var(--pd-font-body-s-strong-font-size) /
    var(--pd-font-body-s-strong-line-height)
    var(--pd-font-body-s-strong-font-family);
  --pd-font-body-s-font: var(--pd-font-body-s-font-weight)
    var(--pd-font-body-s-font-size) / var(--pd-font-body-s-line-height)
    var(--pd-font-body-s-font-family);
  --pd-font-body-l-strong-font: var(--pd-font-body-l-strong-font-weight)
    var(--pd-font-body-l-strong-font-size) /
    var(--pd-font-body-l-strong-line-height)
    var(--pd-font-body-l-strong-font-family);
  --pd-font-body-l-font: var(--pd-font-body-l-font-weight)
    var(--pd-font-body-l-font-size) / var(--pd-font-body-l-line-height)
    var(--pd-font-body-l-font-family);
  --pd-font-body-strong-font: var(--pd-font-body-strong-font-weight)
    var(--pd-font-body-strong-font-size) /
    var(--pd-font-body-strong-line-height)
    var(--pd-font-body-strong-font-family);
  --pd-font-body-font: var(--pd-font-body-font-weight)
    var(--pd-font-body-font-size) / var(--pd-font-body-line-height)
    var(--pd-font-body-font-family);
  --pd-font-badge-font: var(--pd-font-badge-font-weight)
    var(--pd-font-badge-font-size) / var(--pd-font-badge-line-height)
    var(--pd-font-badge-font-family);
  --pd-global-color-light-green-1000: #012a12;
  --pd-global-color-light-green-900: #004d25;
  --pd-global-color-light-green-800: #00672a;
  --pd-global-color-light-green-700: #077838;
  --pd-global-color-light-green-600: #2d8647;
  --pd-global-color-light-green-500: #61a36b;
  --pd-global-color-light-green-400: #82b886;
  --pd-global-color-light-green-300: #bedfbd;
  --pd-global-color-light-green-200: #ddf4db;
  --pd-global-color-light-green-100: #e9fbe7;
  --pd-global-color-light-neutral-1000: #21232c;
  --pd-global-color-light-neutral-900: #3f424a;
  --pd-global-color-light-neutral-800: #565961;
  --pd-global-color-light-neutral-700: #65686f;
  --pd-global-color-light-neutral-600: #73767c;
  --pd-global-color-light-neutral-500: #93949a;
  --pd-global-color-light-neutral-400: #a9abaf;
  --pd-global-color-light-neutral-300: #d7d7d9;
  --pd-global-color-light-neutral-200: #ececed;
  --pd-global-color-light-neutral-100: #f5f5f6;
  --pd-global-color-light-neutral-0: #fff;
  --pd-global-color-light-blue-1000: #002252;
  --pd-global-color-light-blue-900: #013f88;
  --pd-global-color-light-blue-800: #0157ae;
  --pd-global-color-light-blue-700: #0d68c5;
  --pd-global-color-light-blue-600: #2b74da;
  --pd-global-color-light-blue-500: #5195f6;
  --pd-global-color-light-blue-400: #72adff;
  --pd-global-color-light-blue-300: #bcdaff;
  --pd-global-color-light-blue-200: #e1eeff;
  --pd-global-color-light-blue-100: #eff6ff;
  --pd-global-color-light-red-1000: #510000;
  --pd-global-color-light-red-900: #8a0007;
  --pd-global-color-light-red-800: #b21019;
  --pd-global-color-light-red-700: #c82627;
  --pd-global-color-light-red-600: #d83c38;
  --pd-global-color-light-red-500: #f16a60;
  --pd-global-color-light-red-400: #fb8b80;
  --pd-global-color-light-red-300: #fdc9c2;
  --pd-global-color-light-red-200: #fde7e4;
  --pd-global-color-light-red-100: #fef2f0;
  --pd-global-color-light-yellow-1000: #371e00;
  --pd-global-color-light-yellow-900: #603900;
  --pd-global-color-light-yellow-800: #804d00;
  --pd-global-color-light-yellow-700: #945b00;
  --pd-global-color-light-yellow-600: #a76800;
  --pd-global-color-light-yellow-500: #cf8501;
  --pd-global-color-light-yellow-400: #e69b00;
  --pd-global-color-light-yellow-300: #ffd24a;
  --pd-global-color-light-yellow-200: #ffedac;
  --pd-global-color-light-yellow-100: #fff6d6;
  --pd-global-color-light-purple-1000: #211c52;
  --pd-global-color-light-purple-900: #3d348e;
  --pd-global-color-light-purple-800: #5345bf;
  --pd-global-color-light-purple-700: #6150e1;
  --pd-global-color-light-purple-600: #6962f2;
  --pd-global-color-light-purple-500: #9086fc;
  --pd-global-color-light-purple-400: #ab9ffb;
  --pd-global-color-light-purple-300: #d9d1f8;
  --pd-global-color-light-purple-200: #eeeafb;
  --pd-global-color-light-purple-100: #f6f4fe;
  --pd-global-color-dark-purple-1000: #e5dff7;
  --pd-global-color-dark-purple-900: #c0b5f0;
  --pd-global-color-dark-purple-800: #9c92ed;
  --pd-global-color-dark-purple-700: #857ee9;
  --pd-global-color-dark-purple-600: #6a64de;
  --pd-global-color-dark-purple-500: #5e59d2;
  --pd-global-color-dark-purple-400: #45449b;
  --pd-global-color-dark-purple-300: #2c2b75;
  --pd-global-color-dark-purple-200: #242464;
  --pd-global-color-dark-purple-100: #1a1a4e;
  --pd-global-color-dark-red-1000: #fedad7;
  --pd-global-color-dark-red-900: #f9a7a0;
  --pd-global-color-dark-red-800: #ec7c75;
  --pd-global-color-dark-red-700: #e0645e;
  --pd-global-color-dark-red-600: #cc4543;
  --pd-global-color-dark-red-500: #c03737;
  --pd-global-color-dark-red-400: #9a1b21;
  --pd-global-color-dark-red-300: #720002;
  --pd-global-color-dark-red-200: #620000;
  --pd-global-color-dark-red-100: #4c0000;
  --pd-global-color-dark-neutral-1000: #e2e2e4;
  --pd-global-color-dark-neutral-900: #bcbcbf;
  --pd-global-color-dark-neutral-800: #9c9da1;
  --pd-global-color-dark-neutral-700: #898b90;
  --pd-global-color-dark-neutral-600: #72747a;
  --pd-global-color-dark-neutral-500: #686970;
  --pd-global-color-dark-neutral-400: #4c4f55;
  --pd-global-color-dark-neutral-300: #33353e;
  --pd-global-color-dark-neutral-200: #2a2c35;
  --pd-global-color-dark-neutral-100: #1e2029;
  --pd-global-color-dark-neutral-0: #0e1017;
  --pd-global-color-dark-yellow-1000: #ffdf8c;
  --pd-global-color-dark-yellow-900: #eeb245;
  --pd-global-color-dark-yellow-800: #d18f3b;
  --pd-global-color-dark-yellow-700: #bc7e33;
  --pd-global-color-dark-yellow-600: #9f6829;
  --pd-global-color-dark-yellow-500: #915e24;
  --pd-global-color-dark-yellow-400: #6e4618;
  --pd-global-color-dark-yellow-300: #4f2e00;
  --pd-global-color-dark-yellow-200: #432600;
  --pd-global-color-dark-yellow-100: #331c00;
  --pd-global-color-dark-green-1000: #d1e8cf;
  --pd-global-color-dark-green-900: #a0c6a1;
  --pd-global-color-dark-green-800: #76a97c;
  --pd-global-color-dark-green-700: #5d9867;
  --pd-global-color-dark-green-600: #3c824e;
  --pd-global-color-dark-green-500: #2a7742;
  --pd-global-color-dark-green-400: #0b5b2e;
  --pd-global-color-dark-green-300: #013e1d;
  --pd-global-color-dark-green-200: #013417;
  --pd-global-color-dark-green-100: #012710;
  --pd-global-color-dark-blue-1000: #d3e3fe;
  --pd-global-color-dark-blue-900: #9abefa;
  --pd-global-color-dark-blue-800: #6e9dec;
  --pd-global-color-dark-blue-700: #588adf;
  --pd-global-color-dark-blue-600: #4073c8;
  --pd-global-color-dark-blue-500: #3768ba;
  --pd-global-color-dark-blue-400: #244d92;
  --pd-global-color-dark-blue-300: #023372;
  --pd-global-color-dark-blue-200: #012a60;
  --pd-global-color-dark-blue-100: #001f4b;
  --pd-global-color-brand-green-500: #012710;
  --pd-global-color-brand-green-400: #014722;
  --pd-global-color-brand-green-300: #aee9b4;
  --pd-global-color-brand-green-200: #d7f9d3;
  --pd-global-color-brand-green-100: #ebfce9;
  --pd-global-color-brand-purple-400: #252745;
  --pd-global-color-brand-purple-300: #3b3a97;
  --pd-global-color-brand-purple-200: #e7e7fc;
  --pd-global-color-brand-purple-100: #f8f8fe;
  --pd-motion-ease-transition: cubic-bezier(0.5, 0, 0.2, 1);
  --pd-motion-ease-exit: cubic-bezier(0.7, 0, 1, 1);
  --pd-motion-ease-enter: cubic-bezier(0, 0, 0.2, 1);
  --pd-motion-duration-400: 0.4s;
  --pd-motion-duration-350: 0.35s;
  --pd-motion-duration-300: 0.3s;
  --pd-motion-duration-250: 0.25s;
  --pd-motion-duration-200: 0.2s;
  --pd-motion-duration-150: 0.15s;
  --pd-motion-duration-100: 0.1s;
  --pd-non-semantic-color-neutral-gray-148: #2d2f2f;
  --pd-non-semantic-color-neutral-gray-140: #343637;
  --pd-non-semantic-color-neutral-gray-132: #3b3d3e;
  --pd-non-semantic-color-neutral-gray-124: #424445;
  --pd-non-semantic-color-neutral-gray-116: #494c4c;
  --pd-non-semantic-color-neutral-gray-108: #505354;
  --pd-non-semantic-color-neutral-gray-100: #575a5b;
  --pd-non-semantic-color-neutral-gray-92: #646768;
  --pd-non-semantic-color-neutral-gray-88: #6b6e6f;
  --pd-non-semantic-color-neutral-gray-80: #797b7c;
  --pd-non-semantic-color-neutral-gray-72: #868889;
  --pd-non-semantic-color-neutral-gray-64: #939596;
  --pd-non-semantic-color-neutral-gray-56: #a1a3a3;
  --pd-non-semantic-color-neutral-gray-48: #aeb0b0;
  --pd-non-semantic-color-neutral-gray-40: #bcbdbd;
  --pd-non-semantic-color-neutral-gray-32: #c9cacb;
  --pd-non-semantic-color-neutral-gray-24: #d7d7d8;
  --pd-non-semantic-color-neutral-gray-20: #dddede;
  --pd-non-semantic-color-neutral-gray-16: #e4e5e5;
  --pd-non-semantic-color-neutral-gray-12: #ebebeb;
  --pd-non-semantic-color-neutral-gray-8: #f2f2f2;
  --pd-non-semantic-color-neutral-gray-4: #f8f8f8;
  --pd-non-semantic-color-earth-brown-148: #502e16;
  --pd-non-semantic-color-earth-brown-140: #5c351a;
  --pd-non-semantic-color-earth-brown-132: #693d1d;
  --pd-non-semantic-color-earth-brown-124: #754421;
  --pd-non-semantic-color-earth-brown-116: #814b24;
  --pd-non-semantic-color-earth-brown-108: #8e5228;
  --pd-non-semantic-color-earth-brown-100: #9a592b;
  --pd-non-semantic-color-earth-brown-92: #a2663c;
  --pd-non-semantic-color-earth-brown-88: #a66d44;
  --pd-non-semantic-color-earth-brown-80: #ae7a55;
  --pd-non-semantic-color-earth-brown-72: #b68766;
  --pd-non-semantic-color-earth-brown-64: #be9577;
  --pd-non-semantic-color-earth-brown-56: #c6a288;
  --pd-non-semantic-color-earth-brown-48: #cfaf99;
  --pd-non-semantic-color-earth-brown-40: #d7bdaa;
  --pd-non-semantic-color-earth-brown-32: #dfcabb;
  --pd-non-semantic-color-earth-brown-24: #e7d7cc;
  --pd-non-semantic-color-earth-brown-20: #ebded5;
  --pd-non-semantic-color-earth-brown-16: #efe4dd;
  --pd-non-semantic-color-earth-brown-12: #f3ebe5;
  --pd-non-semantic-color-earth-brown-8: #f7f2ee;
  --pd-non-semantic-color-earth-brown-4: #fbf8f7;
  --pd-non-semantic-color-lavender-purple-148: #331b5f;
  --pd-non-semantic-color-lavender-purple-140: #3b1f6e;
  --pd-non-semantic-color-lavender-purple-132: #43237c;
  --pd-non-semantic-color-lavender-purple-124: #4a288b;
  --pd-non-semantic-color-lavender-purple-116: #522c9a;
  --pd-non-semantic-color-lavender-purple-108: #5a30a8;
  --pd-non-semantic-color-lavender-purple-100: #6234b7;
  --pd-non-semantic-color-lavender-purple-92: #6f44bd;
  --pd-non-semantic-color-lavender-purple-88: #754cc0;
  --pd-non-semantic-color-lavender-purple-80: #815dc5;
  --pd-non-semantic-color-lavender-purple-72: #8e6dcb;
  --pd-non-semantic-color-lavender-purple-64: #9b7dd1;
  --pd-non-semantic-color-lavender-purple-56: #a78dd7;
  --pd-non-semantic-color-lavender-purple-48: #b49edd;
  --pd-non-semantic-color-lavender-purple-40: #c0aee2;
  --pd-non-semantic-color-lavender-purple-32: #cdbee8;
  --pd-non-semantic-color-lavender-purple-24: #d9ceee;
  --pd-non-semantic-color-lavender-purple-20: #e0d6f1;
  --pd-non-semantic-color-lavender-purple-16: #e6dff3;
  --pd-non-semantic-color-lavender-purple-12: #ece7f6;
  --pd-non-semantic-color-lavender-purple-8: #f2eff9;
  --pd-non-semantic-color-lavender-purple-4: #f9f7fc;
  --pd-non-semantic-color-lilac-purple-148: #521150;
  --pd-non-semantic-color-lilac-purple-140: #5d155a;
  --pd-non-semantic-color-lilac-purple-132: #671864;
  --pd-non-semantic-color-lilac-purple-124: #721c6f;
  --pd-non-semantic-color-lilac-purple-116: #7d2179;
  --pd-non-semantic-color-lilac-purple-108: #872484;
  --pd-non-semantic-color-lilac-purple-100: #92288e;
  --pd-non-semantic-color-lilac-purple-92: #9c3898;
  --pd-non-semantic-color-lilac-purple-88: #a0419d;
  --pd-non-semantic-color-lilac-purple-80: #aa51a6;
  --pd-non-semantic-color-lilac-purple-72: #b462b1;
  --pd-non-semantic-color-lilac-purple-64: #c26fbf;
  --pd-non-semantic-color-lilac-purple-56: #cd7fca;
  --pd-non-semantic-color-lilac-purple-48: #d88fd5;
  --pd-non-semantic-color-lilac-purple-40: #e29fe0;
  --pd-non-semantic-color-lilac-purple-32: #eab0e8;
  --pd-non-semantic-color-lilac-purple-24: #edc6eb;
  --pd-non-semantic-color-lilac-purple-20: #f0cfee;
  --pd-non-semantic-color-lilac-purple-16: #f5d8f4;
  --pd-non-semantic-color-lilac-purple-12: #f7e1f6;
  --pd-non-semantic-color-lilac-purple-8: #fbeafb;
  --pd-non-semantic-color-lilac-purple-4: #fdf4fd;
  --pd-non-semantic-color-bubblegum-pink-148: #890540;
  --pd-non-semantic-color-bubblegum-pink-140: #910d48;
  --pd-non-semantic-color-bubblegum-pink-132: #98144f;
  --pd-non-semantic-color-bubblegum-pink-124: #a11d58;
  --pd-non-semantic-color-bubblegum-pink-116: #a92560;
  --pd-non-semantic-color-bubblegum-pink-108: #b02c67;
  --pd-non-semantic-color-bubblegum-pink-100: #b8346f;
  --pd-non-semantic-color-bubblegum-pink-92: #c5417c;
  --pd-non-semantic-color-bubblegum-pink-88: #ca4681;
  --pd-non-semantic-color-bubblegum-pink-80: #d8548f;
  --pd-non-semantic-color-bubblegum-pink-72: #e4609b;
  --pd-non-semantic-color-bubblegum-pink-64: #f16da8;
  --pd-non-semantic-color-bubblegum-pink-56: #f97bb3;
  --pd-non-semantic-color-bubblegum-pink-48: #f88fbe;
  --pd-non-semantic-color-bubblegum-pink-40: #f7a3c8;
  --pd-non-semantic-color-bubblegum-pink-32: #f6b7d3;
  --pd-non-semantic-color-bubblegum-pink-24: #f7c9dd;
  --pd-non-semantic-color-bubblegum-pink-20: #f7d3e3;
  --pd-non-semantic-color-bubblegum-pink-16: #f7dde9;
  --pd-non-semantic-color-bubblegum-pink-12: #f9e6ee;
  --pd-non-semantic-color-bubblegum-pink-8: #faeef3;
  --pd-non-semantic-color-bubblegum-pink-4: #fff7f8;
  --pd-non-semantic-color-watermelon-red-148: #8f191b;
  --pd-non-semantic-color-watermelon-red-140: #a31e21;
  --pd-non-semantic-color-watermelon-red-132: #b12628;
  --pd-non-semantic-color-watermelon-red-124: #cd272a;
  --pd-non-semantic-color-watermelon-red-116: #d63033;
  --pd-non-semantic-color-watermelon-red-108: #e03a3d;
  --pd-non-semantic-color-watermelon-red-100: #e94346;
  --pd-non-semantic-color-watermelon-red-92: #f44e51;
  --pd-non-semantic-color-watermelon-red-88: #ff6164;
  --pd-non-semantic-color-watermelon-red-72: #ff7174;
  --pd-non-semantic-color-watermelon-red-64: #ff8183;
  --pd-non-semantic-color-watermelon-red-56: #ff9193;
  --pd-non-semantic-color-watermelon-red-48: #ffa0a2;
  --pd-non-semantic-color-watermelon-red-40: #ffb0b2;
  --pd-non-semantic-color-watermelon-red-32: #ffc0c1;
  --pd-non-semantic-color-watermelon-red-24: #ffd0d1;
  --pd-non-semantic-color-watermelon-red-20: #ffd7d8;
  --pd-non-semantic-color-watermelon-red-16: #ffe0e0;
  --pd-non-semantic-color-watermelon-red-12: #ffe7e7;
  --pd-non-semantic-color-watermelon-red-8: #ffefef;
  --pd-non-semantic-color-watermelon-red-4: #fff8f8;
  --pd-non-semantic-color-tangerine-orange-148: #8c4700;
  --pd-non-semantic-color-tangerine-orange-140: #a25200;
  --pd-non-semantic-color-tangerine-orange-132: #b85d00;
  --pd-non-semantic-color-tangerine-orange-124: #cd6800;
  --pd-non-semantic-color-tangerine-orange-116: #e27301;
  --pd-non-semantic-color-tangerine-orange-108: #ef800e;
  --pd-non-semantic-color-tangerine-orange-100: #fc8d1b;
  --pd-non-semantic-color-tangerine-orange-92: #ff9529;
  --pd-non-semantic-color-tangerine-orange-88: #ff9a33;
  --pd-non-semantic-color-tangerine-orange-80: #ffa446;
  --pd-non-semantic-color-tangerine-orange-72: #ffad58;
  --pd-non-semantic-color-tangerine-orange-64: #ffb66a;
  --pd-non-semantic-color-tangerine-orange-56: #ffbf7c;
  --pd-non-semantic-color-tangerine-orange-48: #ffc88f;
  --pd-non-semantic-color-tangerine-orange-40: #ffd1a2;
  --pd-non-semantic-color-tangerine-orange-32: #ffdbb5;
  --pd-non-semantic-color-tangerine-orange-24: #ffe4c7;
  --pd-non-semantic-color-tangerine-orange-20: #ffe8d0;
  --pd-non-semantic-color-tangerine-orange-16: #ffeddb;
  --pd-non-semantic-color-tangerine-orange-12: #fff1e3;
  --pd-non-semantic-color-tangerine-orange-8: #fff6ed;
  --pd-non-semantic-color-tangerine-orange-4: #fffaf5;
  --pd-non-semantic-color-honey-yellow-148: #846204;
  --pd-non-semantic-color-honey-yellow-140: #987104;
  --pd-non-semantic-color-honey-yellow-132: #ad8005;
  --pd-non-semantic-color-honey-yellow-124: #c18f05;
  --pd-non-semantic-color-honey-yellow-116: #d59e06;
  --pd-non-semantic-color-honey-yellow-108: #eaad06;
  --pd-non-semantic-color-honey-yellow-100: #febc07;
  --pd-non-semantic-color-honey-yellow-92: #fec11b;
  --pd-non-semantic-color-honey-yellow-88: #fec425;
  --pd-non-semantic-color-honey-yellow-80: #fec939;
  --pd-non-semantic-color-honey-yellow-72: #fecf4c;
  --pd-non-semantic-color-honey-yellow-64: #fed460;
  --pd-non-semantic-color-honey-yellow-56: #ffda74;
  --pd-non-semantic-color-honey-yellow-48: #ffdf88;
  --pd-non-semantic-color-honey-yellow-40: #ffe49c;
  --pd-non-semantic-color-honey-yellow-32: #ffeab0;
  --pd-non-semantic-color-honey-yellow-24: #ffefc3;
  --pd-non-semantic-color-honey-yellow-20: #fff2cd;
  --pd-non-semantic-color-honey-yellow-16: #fff4d7;
  --pd-non-semantic-color-honey-yellow-12: #fff7e1;
  --pd-non-semantic-color-honey-yellow-8: #fffaeb;
  --pd-non-semantic-color-honey-yellow-4: #fffcf5;
  --pd-non-semantic-color-lemon-yellow-148: #766700;
  --pd-non-semantic-color-lemon-yellow-140: #887800;
  --pd-non-semantic-color-lemon-yellow-132: #9a8700;
  --pd-non-semantic-color-lemon-yellow-124: #ac9800;
  --pd-non-semantic-color-lemon-yellow-116: #bea800;
  --pd-non-semantic-color-lemon-yellow-108: #d1b800;
  --pd-non-semantic-color-lemon-yellow-100: #e1c708;
  --pd-non-semantic-color-lemon-yellow-92: #e6cc0d;
  --pd-non-semantic-color-lemon-yellow-88: #ead011;
  --pd-non-semantic-color-lemon-yellow-80: #efd516;
  --pd-non-semantic-color-lemon-yellow-72: #f4da1b;
  --pd-non-semantic-color-lemon-yellow-64: #fae021;
  --pd-non-semantic-color-lemon-yellow-56: #fce439;
  --pd-non-semantic-color-lemon-yellow-48: #fce854;
  --pd-non-semantic-color-lemon-yellow-40: #fbec77;
  --pd-non-semantic-color-lemon-yellow-32: #fbef95;
  --pd-non-semantic-color-lemon-yellow-24: #fbf3b8;
  --pd-non-semantic-color-lemon-yellow-20: #fdf5be;
  --pd-non-semantic-color-lemon-yellow-16: #fef7c5;
  --pd-non-semantic-color-lemon-yellow-12: #fff9cf;
  --pd-non-semantic-color-lemon-yellow-8: #fffce2;
  --pd-non-semantic-color-lemon-yellow-4: #fffdf1;
  --pd-non-semantic-color-avocado-green-148: #5c6600;
  --pd-non-semantic-color-avocado-green-140: #6a7500;
  --pd-non-semantic-color-avocado-green-132: #788400;
  --pd-non-semantic-color-avocado-green-124: #879500;
  --pd-non-semantic-color-avocado-green-115: #95a400;
  --pd-non-semantic-color-avocado-green-108: #a3b308;
  --pd-non-semantic-color-avocado-green-100: #b0c015;
  --pd-non-semantic-color-avocado-green-92: #b6c623;
  --pd-non-semantic-color-avocado-green-88: #bac92a;
  --pd-non-semantic-color-avocado-green-80: #c1cf38;
  --pd-non-semantic-color-avocado-green-72: #c6d34f;
  --pd-non-semantic-color-avocado-green-64: #cdd95e;
  --pd-non-semantic-color-avocado-green-56: #d4de6f;
  --pd-non-semantic-color-avocado-green-48: #dae380;
  --pd-non-semantic-color-avocado-green-40: #dfe798;
  --pd-non-semantic-color-avocado-green-32: #e6edaa;
  --pd-non-semantic-color-avocado-green-24: #edf3b4;
  --pd-non-semantic-color-avocado-green-20: #f0f5c0;
  --pd-non-semantic-color-avocado-green-16: #f3f8ca;
  --pd-non-semantic-color-avocado-green-12: #f7f9d5;
  --pd-non-semantic-color-avocado-green-8: #fafce0;
  --pd-non-semantic-color-avocado-green-4: #fdfeef;
  --pd-non-semantic-color-emerald-green-148: #005635;
  --pd-non-semantic-color-emerald-green-140: #00643e;
  --pd-non-semantic-color-emerald-green-132: #007046;
  --pd-non-semantic-color-emerald-green-124: #007e4f;
  --pd-non-semantic-color-emerald-green-116: #008a56;
  --pd-non-semantic-color-emerald-green-108: #0a9460;
  --pd-non-semantic-color-emerald-green-100: #129c68;
  --pd-non-semantic-color-emerald-green-92: #1ea874;
  --pd-non-semantic-color-emerald-green-88: #23ad79;
  --pd-non-semantic-color-emerald-green-80: #2fb985;
  --pd-non-semantic-color-emerald-green-72: #45c091;
  --pd-non-semantic-color-emerald-green-64: #57c89d;
  --pd-non-semantic-color-emerald-green-56: #6ad0a9;
  --pd-non-semantic-color-emerald-green-48: #7fd6b6;
  --pd-non-semantic-color-emerald-green-40: #95ddc2;
  --pd-non-semantic-color-emerald-green-32: #aae4ce;
  --pd-non-semantic-color-emerald-green-24: #c1e9db;
  --pd-non-semantic-color-emerald-green-20: #ccede1;
  --pd-non-semantic-color-emerald-green-16: #d3f2e7;
  --pd-non-semantic-color-emerald-green-12: #ddf5ed;
  --pd-non-semantic-color-emerald-green-8: #e7f9f3;
  --pd-non-semantic-color-emerald-green-4: #f4fbfc;
  --pd-non-semantic-color-teal-green-148: #084e4d;
  --pd-non-semantic-color-teal-green-140: #085b59;
  --pd-non-semantic-color-teal-green-132: #0a6765;
  --pd-non-semantic-color-teal-green-124: #0b7271;
  --pd-non-semantic-color-teal-green-116: #117d7b;
  --pd-non-semantic-color-teal-green-108: #178684;
  --pd-non-semantic-color-teal-green-100: #1c918f;
  --pd-non-semantic-color-teal-green-92: #2b9b99;
  --pd-non-semantic-color-teal-green-88: #32a09e;
  --pd-non-semantic-color-teal-green-80: #41aaa8;
  --pd-non-semantic-color-teal-green-72: #50b5b3;
  --pd-non-semantic-color-teal-green-64: #62bebc;
  --pd-non-semantic-color-teal-green-56: #71c7c6;
  --pd-non-semantic-color-teal-green-48: #81d1d0;
  --pd-non-semantic-color-teal-green-40: #95d9d8;
  --pd-non-semantic-color-teal-green-32: #abe1e0;
  --pd-non-semantic-color-teal-green-24: #bfe9e8;
  --pd-non-semantic-color-teal-green-20: #caecec;
  --pd-non-semantic-color-teal-green-16: #d7efef;
  --pd-non-semantic-color-teal-green-12: #dff4f4;
  --pd-non-semantic-color-teal-green-8: #e9f8f8;
  --pd-non-semantic-color-teal-green-4: #f5fafd;
  --pd-non-semantic-color-sky-blue-148: #004b77;
  --pd-non-semantic-color-sky-blue-140: #00578a;
  --pd-non-semantic-color-sky-blue-132: #036198;
  --pd-non-semantic-color-sky-blue-124: #0c6aa1;
  --pd-non-semantic-color-sky-blue-116: #1673aa;
  --pd-non-semantic-color-sky-blue-108: #1e7cb3;
  --pd-non-semantic-color-sky-blue-100: #2785bc;
  --pd-non-semantic-color-sky-blue-92: #3391c8;
  --pd-non-semantic-color-sky-blue-88: #3997ce;
  --pd-non-semantic-color-sky-blue-80: #43a1d9;
  --pd-non-semantic-color-sky-blue-72: #4fade4;
  --pd-non-semantic-color-sky-blue-64: #60b7ea;
  --pd-non-semantic-color-sky-blue-56: #6dc3f5;
  --pd-non-semantic-color-sky-blue-48: #82cbf5;
  --pd-non-semantic-color-sky-blue-40: #97d4f7;
  --pd-non-semantic-color-sky-blue-32: #aedcf7;
  --pd-non-semantic-color-sky-blue-24: #c2e5f9;
  --pd-non-semantic-color-sky-blue-20: #cde9fa;
  --pd-non-semantic-color-sky-blue-16: #d4eefd;
  --pd-non-semantic-color-sky-blue-12: #dff2fd;
  --pd-non-semantic-color-sky-blue-8: #e9f7ff;
  --pd-non-semantic-color-sky-blue-4: #f3fbff;
  --pd-non-semantic-color-electric-blue-148: #1033a3;
  --pd-non-semantic-color-electric-blue-140: #183bab;
  --pd-non-semantic-color-electric-blue-132: #2043b3;
  --pd-non-semantic-color-electric-blue-124: #284bbb;
  --pd-non-semantic-color-electric-blue-116: #3154c4;
  --pd-non-semantic-color-electric-blue-108: #395ccc;
  --pd-non-semantic-color-electric-blue-100: #4164d4;
  --pd-non-semantic-color-electric-blue-92: #4d70e0;
  --pd-non-semantic-color-electric-blue-88: #5477e7;
  --pd-non-semantic-color-electric-blue-80: #6083f3;
  --pd-non-semantic-color-electric-blue-72: #6c8fff;
  --pd-non-semantic-color-electric-blue-64: #7c9bff;
  --pd-non-semantic-color-electric-blue-56: #8da8ff;
  --pd-non-semantic-color-electric-blue-48: #9db5ff;
  --pd-non-semantic-color-electric-blue-40: #adc1ff;
  --pd-non-semantic-color-electric-blue-32: #bdcdff;
  --pd-non-semantic-color-electric-blue-24: #cedaff;
  --pd-non-semantic-color-electric-blue-20: #d6e0ff;
  --pd-non-semantic-color-electric-blue-16: #dee6ff;
  --pd-non-semantic-color-electric-blue-12: #e6ecff;
  --pd-non-semantic-color-electric-blue-8: #eff3ff;
  --pd-non-semantic-color-electric-blue-4: #f7f9ff;
  --pd-radius-l: 8px;
  --pd-radius-s: 4px;
  --pd-radius-xs: 2px;
  --pd-radius-m: 4px;
  --pd-size-800: 64px;
  --pd-size-700: 56px;
  --pd-size-600: 48px;
  --pd-size-500: 40px;
  --pd-size-400: 32px;
  --pd-size-300: 24px;
  --pd-size-200: 16px;
  --pd-size-150: 12px;
  --pd-size-100: 8px;
  --pd-size-75: 6px;
  --pd-size-50: 4px;
  --pd-size-25: 2px;
  --pd-size-10: 1px;
  --pd-size-0: 0;
  --pd-spacing-0: 0;
  --pd-spacing-10: 1px;
  --pd-spacing-25: 2px;
  --pd-spacing-50: 4px;
  --pd-spacing-75: 6px;
  --pd-spacing-100: 8px;
  --pd-spacing-150: 12px;
  --pd-spacing-200: 16px;
  --pd-spacing-300: 24px;
  --pd-spacing-400: 32px;
  --pd-spacing-500: 40px;
  --pd-spacing-600: 48px;
  --pd-spacing-700: 56px;
  --pd-spacing-800: 64px;
}

:root,
[data-theme='light'] {
  --pd-color-other-backdrop: rgba(33, 35, 44, 0.48);
  --pd-color-fill-white-muted-static: hsla(0, 0%, 100%, 0.48);
  --pd-color-fill-white-static: #fff;
  --pd-color-fill-light-static: #ececed;
  --pd-color-fill-dark-static: #565961;
  --pd-color-fill-extra-black-static: #21232c;
  --pd-color-fill-on-inverted-strong: hsla(0, 0%, 100%, 0.24);
  --pd-color-fill-on-inverted-medium: hsla(0, 0%, 100%, 0.16);
  --pd-color-fill-on-inverted-light: hsla(0, 0%, 100%, 0.08);
  --pd-color-fill-extra-strong-rgba: rgba(33, 35, 44, 0.72);
  --pd-color-fill-strong-rgba: rgba(33, 35, 44, 0.48);
  --pd-color-fill-medium-strong-rgba: rgba(33, 35, 44, 0.24);
  --pd-color-fill-medium-rgba: rgba(33, 35, 44, 0.16);
  --pd-color-fill-medium-light-rgba: rgba(33, 35, 44, 0.12);
  --pd-color-fill-light-rgba: rgb(33 35 44/8%);
  --pd-color-fill-extra-light-rgba: rgb(33 35 44/5%);
  --pd-color-divider-strong: rgba(33, 35, 44, 0.24);
  --pd-color-divider-medium-rgba: rgba(33, 35, 44, 0.12);
  --pd-color-divider-medium: rgba(33, 35, 44, 0.12);
  --pd-color-divider-light-rgba: rgb(33 35 44/8%);
  --pd-color-icon-muted-rgba: rgba(33, 35, 44, 0.48);
  --pd-color-icon-secondary-rgba: rgba(33, 35, 44, 0.72);
  --pd-color-icon-black-static: #21232c;
  --pd-color-icon-white-secondary-static: #a9abaf;
  --pd-color-icon-white-static: #fff;
  --pd-color-icon-secondary-inverted: hsla(0, 0%, 100%, 0.72);
  --pd-color-text-muted-rgba: rgba(33, 35, 44, 0.48);
  --pd-color-text-secondary-rgba: rgba(33, 35, 44, 0.72);
  --pd-color-text-black-static: #21232c;
  --pd-color-text-white-secondary-static: #a9abaf;
  --pd-color-text-white-static: #fff;
  --pd-color-text-secondary-inverted: hsla(0, 0%, 100%, 0.72);
  --pd-color-surface-black-static: #3f424a;
  --pd-color-surface-dark-static: #565961;
  --pd-color-secondary-background-light: var(
    --pd-global-color-light-purple-100
  );
  --pd-color-secondary-background: var(--pd-global-color-light-purple-200);
  --pd-color-secondary-background-strong: var(
    --pd-global-color-light-purple-300
  );
  --pd-color-secondary-border: var(--pd-global-color-light-purple-400);
  --pd-color-secondary-muted: var(--pd-global-color-light-purple-400);
  --pd-color-secondary-default: var(--pd-global-color-light-purple-600);
  --pd-color-secondary-hover: var(--pd-global-color-light-purple-700);
  --pd-color-secondary-strong: var(--pd-global-color-light-purple-700);
  --pd-color-secondary-extra-strong: var(--pd-global-color-light-purple-1000);
  --pd-color-other-note: var(--pd-global-color-light-yellow-100);
  --pd-color-other-highlight: var(--pd-global-color-light-yellow-300);
  --pd-color-navigation-icon: var(--pd-color-icon-white-static);
  --pd-color-learn-background-light: var(--pd-global-color-light-purple-100);
  --pd-color-learn-background: var(--pd-global-color-light-purple-200);
  --pd-color-learn-border: var(--pd-global-color-light-purple-400);
  --pd-color-learn-default: var(--pd-global-color-light-purple-600);
  --pd-color-learn-strong: var(--pd-global-color-light-purple-700);
  --pd-color-negative-background-light: var(--pd-global-color-light-red-100);
  --pd-color-negative-background: var(--pd-global-color-light-red-200);
  --pd-color-negative-background-strong: var(--pd-global-color-light-red-300);
  --pd-color-negative-border: var(--pd-global-color-light-red-400);
  --pd-color-negative-muted: var(--pd-global-color-light-red-400);
  --pd-color-negative-default: var(--pd-global-color-light-red-600);
  --pd-color-negative-hover: var(--pd-global-color-light-red-700);
  --pd-color-negative-strong: var(--pd-global-color-light-red-700);
  --pd-color-negative-extra-strong: var(--pd-global-color-light-red-800);
  --pd-color-warning-background-light: var(--pd-global-color-light-yellow-100);
  --pd-color-warning-background: var(--pd-global-color-light-yellow-200);
  --pd-color-warning-background-strong: var(--pd-global-color-light-yellow-300);
  --pd-color-warning-border: var(--pd-global-color-light-yellow-400);
  --pd-color-warning-muted: var(--pd-global-color-light-yellow-400);
  --pd-color-warning-default: var(--pd-global-color-light-yellow-600);
  --pd-color-warning-strong: var(--pd-global-color-light-yellow-700);
  --pd-color-positive-background-light: var(--pd-global-color-light-green-100);
  --pd-color-positive-background: var(--pd-global-color-light-green-200);
  --pd-color-positive-background-strong: var(--pd-global-color-light-green-300);
  --pd-color-positive-border: var(--pd-global-color-light-green-400);
  --pd-color-positive-muted: var(--pd-global-color-light-green-400);
  --pd-color-positive-default: var(--pd-global-color-light-green-600);
  --pd-color-positive-hover: var(--pd-global-color-light-green-700);
  --pd-color-positive-strong: var(--pd-global-color-light-green-700);
  --pd-color-positive-extra-strong: var(--pd-global-color-light-green-800);
  --pd-color-info-background-light: var(--pd-global-color-light-blue-100);
  --pd-color-info-background: var(--pd-global-color-light-blue-200);
  --pd-color-info-border: var(--pd-global-color-light-blue-400);
  --pd-color-info-default: var(--pd-global-color-light-blue-600);
  --pd-color-info-strong: var(--pd-global-color-light-blue-700);
  --pd-color-active-background-light: var(--pd-global-color-light-blue-100);
  --pd-color-active-background: var(--pd-global-color-light-blue-200);
  --pd-color-active-background-strong: var(--pd-global-color-light-blue-300);
  --pd-color-active-muted: var(--pd-global-color-light-blue-400);
  --pd-color-active-default: var(--pd-global-color-light-blue-600);
  --pd-color-active-hover: var(--pd-global-color-light-blue-700);
  --pd-color-active-strong: var(--pd-global-color-light-blue-700);
  --pd-color-active-extra-strong: var(--pd-global-color-light-blue-800);
  --pd-color-primary-background-light: var(--pd-global-color-light-green-100);
  --pd-color-primary-background: var(--pd-global-color-light-green-200);
  --pd-color-primary-background-strong: var(--pd-global-color-light-green-300);
  --pd-color-primary-border: var(--pd-global-color-light-green-400);
  --pd-color-primary-muted: var(--pd-global-color-light-green-400);
  --pd-color-primary-default: var(--pd-global-color-light-green-600);
  --pd-color-primary-hover: var(--pd-global-color-light-green-700);
  --pd-color-primary-strong: var(--pd-global-color-light-green-700);
  --pd-color-primary-extra-strong: var(--pd-global-color-light-green-800);
  --pd-color-fill-extra-strong: var(--pd-global-color-light-neutral-600);
  --pd-color-fill-strong: var(--pd-global-color-light-neutral-500);
  --pd-color-fill-medium-strong: var(--pd-global-color-light-neutral-400);
  --pd-color-fill-medium: var(--pd-global-color-light-neutral-300);
  --pd-color-fill-medium-light: var(--pd-global-color-light-neutral-200);
  --pd-color-fill-light: var(--pd-global-color-light-neutral-200);
  --pd-color-fill-base-secondary: var(--pd-global-color-light-neutral-100);
  --pd-color-fill-base: var(--pd-global-color-light-neutral-0);
  --pd-color-icon-link-inverted: var(--pd-global-color-light-blue-400);
  --pd-color-icon-muted-inverted: var(--pd-global-color-light-neutral-0);
  --pd-color-icon-primary-inverted: var(--pd-global-color-light-neutral-0);
  --pd-color-icon-learn: var(--pd-global-color-light-purple-700);
  --pd-color-icon-negative: var(--pd-global-color-light-red-700);
  --pd-color-icon-warning: var(--pd-global-color-light-yellow-400);
  --pd-color-icon-positive: var(--pd-global-color-light-green-700);
  --pd-color-icon-info: var(--pd-global-color-light-blue-700);
  --pd-color-icon-link-muted: var(--pd-global-color-light-blue-500);
  --pd-color-icon-link: var(--pd-global-color-light-blue-700);
  --pd-color-icon-active-muted: var(--pd-global-color-light-blue-500);
  --pd-color-icon-active: var(--pd-global-color-light-blue-700);
  --pd-color-icon-muted: var(--pd-global-color-light-neutral-500);
  --pd-color-icon-secondary: var(--pd-global-color-light-neutral-700);
  --pd-color-icon-primary: var(--pd-global-color-light-neutral-1000);
  --pd-color-text-link-inverted: var(--pd-global-color-light-blue-400);
  --pd-color-text-muted-inverted: var(--pd-global-color-light-neutral-0);
  --pd-color-text-primary-inverted: var(--pd-global-color-light-neutral-0);
  --pd-color-text-learn: var(--pd-global-color-light-purple-700);
  --pd-color-text-negative: var(--pd-global-color-light-red-700);
  --pd-color-text-warning: var(--pd-global-color-light-yellow-700);
  --pd-color-text-positive: var(--pd-global-color-light-green-700);
  --pd-color-text-info: var(--pd-global-color-light-blue-700);
  --pd-color-text-link-muted: var(--pd-global-color-light-blue-500);
  --pd-color-text-link: var(--pd-global-color-light-blue-700);
  --pd-color-text-active-muted: var(--pd-global-color-light-blue-500);
  --pd-color-text-active: var(--pd-global-color-light-blue-700);
  --pd-color-text-muted: var(--pd-global-color-light-neutral-500);
  --pd-color-text-secondary: var(--pd-global-color-light-neutral-700);
  --pd-color-text-primary: var(--pd-global-color-light-neutral-1000);
  --pd-color-surface-inverted-strong: var(--pd-global-color-light-neutral-1000);
  --pd-color-surface-overlay-secondary: var(
    --pd-global-color-light-neutral-100
  );
  --pd-color-surface-overlay: var(--pd-global-color-light-neutral-0);
  --pd-color-surface-foreground-secondary: var(
    --pd-global-color-light-neutral-100
  );
  --pd-color-surface-foreground: var(--pd-global-color-light-neutral-0);
  --pd-color-surface-app-background: var(--pd-global-color-light-neutral-100);
  --pd-color-brand-growth-secondary: var(--pd-global-color-brand-purple-200);
  --pd-color-brand-growth-primary: var(--pd-global-color-brand-green-200);
  --pd-color-brand-landing-growth: var(--pd-global-color-brand-green-300);
  --pd-color-brand-landing-secondary: var(--pd-global-color-brand-purple-100);
  --pd-color-brand-landing-primary: var(--pd-global-color-brand-green-100);
  --pd-color-navigation-divider: var(--pd-color-secondary-strong);
  --pd-color-navigation-hover: var(--pd-color-secondary-default);
  --pd-color-navigation-active: var(--pd-color-secondary-strong);
  --pd-color-navigation-background: var(--pd-color-secondary-extra-strong);
  --pd-elevation-topbar: 0 0 1px 1px rgb(0 0 0/5%), 0 1px 2px -2px rgb(0 0 0/6%),
    0 1px 3px 0 rgb(0 0 0/7%);
  --pd-elevation-navbar: 0 0 0 0 transparent;
  --pd-elevation-overlay-high: 0 0 1px 0 rgba(0, 0, 0, 0.32),
    0 18px 28px 0 rgba(0, 0, 0, 0.16);
  --pd-elevation-overlay: 0 0 2px 0 rgba(0, 0, 0, 0.24),
    0 16px 24px 2px rgb(0 0 0/5%), 0 6px 30px 5px rgb(0 0 0/6%),
    0 8px 10px -5px rgba(0, 0, 0, 0.1);
  --pd-elevation-floating-high: 0 0 2px 0 rgba(0, 0, 0, 0.24),
    0 8px 10px 1px rgb(0 0 0/5%), 0 3px 14px 2px rgb(0 0 0/6%),
    0 5px 5px -3px rgba(0, 0, 0, 0.1);
  --pd-elevation-floating: 0 0 2px 0 rgba(0, 0, 0, 0.16),
    0 3px 4px 0 rgb(0 0 0/5%), 0 3px 3px -2px rgb(0 0 0/6%),
    0 1px 8px 0 rgba(0, 0, 0, 0.1);
  --pd-elevation-raised-hover: 0 3px 5px 0 rgb(0 0 0/8%),
    0 0 4px 0 rgba(0, 0, 0, 0.12);
  --pd-elevation-raised: 0 0 1px 1px rgb(0 0 0/5%), 0 1px 2px -2px rgb(0 0 0/6%),
    0 1px 3px 0 rgb(0 0 0/7%);
  --pd-elevation-button: 0 1px 2px 0 rgb(42 54 71/5%);
  --pd-elevation-none: 0 0 0 0 transparent;
}
